# What is Python?

Python is a general purpose programming language, used to:

- Create Web apps
- Create games
- Make scripts
- Data manipulation

Why is python a language? Has a:

- Syntax
- Grammar
- Semantics

2 kind of programming languages:

- Static Typing PL: that are really strict when they are dealing with data. Whenever we want to access, define, transform data, where need to specify the type of data that we are going to be using.
- Dynamic typing PL: that doesn't require from us to specify the datatypes. < Python

## A program 

Just a document written in a specific programming language, that we use to give to out computer instructions.

## Data.. and how data is stored or represented within a computer

Computers understand dual states.

Minimum ammount of information a computer can manage is called? bit

Within a bit we can store up to 2 different values: 0 or 1.
Is it raining? 1 -> YES    0 -> NO
Bits are usuarlly packed in a sequence of 8 bits: 1 byte.

Within a byte we can store up to ??? different values: 
2^8=256 different values.

How old a person is?

- 0000 0000 -> 0 years old
- 0000 0001 -> 1 years old
- 0000 0010 -> 2 years old
- 0000 0011 -> 3 years old

The computer needs to know the nature of the data: The datatype. Why?

- To know how many different values can be stored or assiciated with a data.
- To know how to perform certain operations 

Python is going to guess the datatype depending on the syntax

## Datatype

Datatypes:

- Number
- String
- Date
- Booleans: Logical value: Yes/No On/Off True/False Raining/NotRaining

## Python grammar

- Data: Noum
- Variables: vars
- Functions: Verb
- Operations: Verb
- keyword...
  - Flow Control

## Python datatypes syntax

### Simple datatypes

#### Numbers

```
17
43
-14.7
```

#### Logical values: Booleans

```
True
False
```

#### Texts: Strings of characters

```
'This a text'
"This a text"

"""
Multiple 
lines 
text
"""
```

### Complex datatypes: Collections of data

#### Tuples

Simple sequence of ordered items. Whenever I want to refer to an item, I use its position in the tuple

```
(10,15,20,25)
(True, False, True, False, False)
("Hi", "my", "name", "is", "Ivan")
(True, "I", "am", 43 )
```

The number 10 is the first item in the tuple: The first item is the item at position 0.

Item in a tuple are not updatable:

We cannot:
- change its value
- remove them from the tuple
- or add new elements

#### Lists

Simple sequence of ordered items. Whenever I want to refer to an item, I use its position in the list

```
[10,15,20,25]
[True, False, True, False, False]
["Hi", "my", "name", "is", "Ivan"]
[True, "I", "am", 43]
```

#### Dictionaries

Simple sequence of ordered items. Whenever I want to refer to an item, I use a key, that I have previously defined.

```
{"age": 10, "numer-of-children": 15, "salary": 20}
```

## Out first program:

Hey computer, please, place the number 17 in your memory (RAM).

RAM: Imagine a notebook. Thats the memory of a computer. The memory is managed by the Operating System (Windows, linux).

In [1]:
17

17

## Var

Name that we can use to refer to a value stored in the memory. Like a postit (note).

We just need to type the name that we want for the var.

In [2]:
myvar = 17

I have said 3 different things in this line o code:

1. "17"    -> Please, place this number in the memory
2. "myvar" -> Please, create a postit, with this name (myvar) written on top.
3. "="     -> Assignment operator. Please, paste that postit /the one you created before) by the side of the number 17

In [3]:
myvar

17

In [4]:
myvar = 18

I have said 2 different things in this line o code:

1. "18"    -> Please, place this number in the memory
3. "="     -> Please vary the position of the postit. 

At this moment... how many things are being stored in the computer's memory?
- 17
- 18 < myvar

At certain point , Python is going to remove the 17 number from the memory (garbage collector). Because the is no var pointing to it. So it is marked as garbage.

## Operators in python

### Operators to be used with numbers
- Plus: +
- Minus: -
- Times: *
- Divided by: /              5/4   < 1,25
- Integer division //        5//4  < 1
- Remainder %                5%4   < 1

    9  | 4
       -----
   -8    2 > Result of the integer division
    1 > Remainder

```
2 + 2      
2 - 1 
```

### Relational operators 

Those return a boolean: True or False

```
3 == 5     # False
3 != 5     # True
3 > 5      # False
3 < 5      # True
3 >= 5     # False
3 <= 5     # True
```

### Logical operators

Those return a boolean too: True or False

But its arguments (the things around the operator) must be booleans also.

```
3 > 5 and 7 > 9 #  It returns True if both arguments are True, only.
3 > 5 or 7 > 9  #  It returns True if any of the arguments is True.
not 3 > 5    
```

### Texts operators

Are operations that return a Text

```
'Ivan' + 'Osuna'    # Concat 'IvanOsuna'
'Ivan' * 3          # Returns 'IvanIvanIvan'
```
### Assignment Operators

- Assigment operator "="

In [5]:
myvar=4

In [6]:
myvar

4

In [7]:
myvar += 2

In [8]:
myvar

6

In [9]:
myvar -= 2
myvar *= 2
myvar /= 2

In [10]:
myvar

4.0

## Python integrated functions

Every single function defined in python is called (execute) by placing a brackets after the function name.

Depending on the function, arguments may be needed, and are supplied between the brakets

### print

Allows us to (output) print to the console a value (a text).

In [11]:
print("Hi Python")

Hi Python

In [12]:
name = "Ivan"
print("Hi "+ name)

Hi Ivan

## range

Allow us to create a tuple with a bunch of items... Actually numbers, sequential numbers

```
range(1, 200)      # Here we are using the default step: 1
range(1, 200, 4)   # The third argument specifies the step between items

```

### Data convertion functions

* Note: the name that I wrote for my var is written in Snake_Case

- str( VALUE )   < Convert to text
- int( VALUE )   < Convert to integer
- float( VALUE ) < Convert to decimal value
- bool( VALUE )  < Convert to boolean

In [19]:
a_value_that_i_read_from_a_database = "3"

int(a_value_that_i_read_from_a_database) * 5

15

In [20]:
age= 43
print('Ivan has ' + str(age) + ' years old')

Ivan has 43 years old

## Mathematical & Stat functions

In [22]:
max(1,2,5,12)

12

In [23]:
min(1,2,5,12)

1

# Python syntax and BRACKETS

- Calling functions : print(something)
- Defining tuples:    (1,2,3,4)
- Group operators and functions / Precedence:
  
  2 + 3 * 5     #  17
  (2 + 3) * 5   #  25

## Guess?

- (1,5,6)       < Defining a tuple
- print("Hola") < Calling a function
- (3+5)         < Grouping operators
- (-3)          < Grouping operators
- (3)           < Grouping operators
- (3,2,4,)      < Defining a tuple
- (3,2,4)       < Defining a tuple
- (3,)          < Defining a tuple     *** Special case in python syntax