In [1]:
# Tuples

my_tuple = (1, 3, 5, 7, 9, 11 ,13)
#           0  1  2  3  4  5    6
#                   -4 -3 -2   -1

for each_item in my_tuple:
    print(each_item)

1
3
5
7
9
11
13

In [2]:
print( my_tuple[0] )

1

In [3]:
my_tuple[0]

1

In [4]:
len(my_tuple) # Returns the number (count) of object within a collection

7

In [6]:
for each_position in range(len(my_tuple)):
#for each_position in range(0,len(my_tuple),1):
    print( my_tuple[each_position] )

1
3
5
7
9
11
13

In [7]:
# Last value from my tuple
my_tuple[ len(my_tuple) - 1 ]

13

In [8]:
my_tuple[ -0 ]

13

In [9]:
my_tuple[ -3 ]

9

In [11]:
my_tuple = (1, 3, 5, 7, 9, 11 ,13)
#           0  1  2  3  4  5    6  7
#                   -4 -3 -2   -1

# slicing
my_tuple[0:3]

(1, 3, 5)

In [12]:
my_tuple [ (len(my_tuple)-4):(len(my_tuple)) ]

(7, 9, 11, 13)

In [15]:
my_tuple [ -4:len(my_tuple) ]

(7, 9, 11, 13)

In [17]:
my_tuple[-4:]

(7, 9, 11, 13)

In [18]:
my_tuple[0:4]

(1, 3, 5, 7)

In [19]:
my_tuple[:4]

(1, 3, 5, 7)

In [21]:
tuple1=(1,2,3)
tuple2=(4,5,6)

tuple1 + tuple2 # join tuples (collections)

(1, 2, 3, 4, 5, 6)

In [22]:
tuple1 * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [43]:
my_tuple = (1, 3, 5, 7, 9, 11 ,13)
my_tuple[3]*3
my_tuple[3:4]*3

(7, 7, 7)

In [23]:
# Texts are nothing but tuples of chars.
# So I can apply to them same operators and functions as the ones that I was appling to tuples
my_text="ABCDEFG"

len(my_text)

7

In [24]:
my_text[0]

'A'

In [25]:
my_text[-1]

'G'

In [26]:
my_text[1:-1]

'BCDEF'

In [27]:
for every_single_char in my_text:
    print(every_single_char)

A
B
C
D
E
F
G

In [28]:
my_text*3

'ABCDEFGABCDEFGABCDEFG'

In [31]:
my_list = [1, 3, 5, 7, 9, 11 ,13]
#           0  1  2  3  4  5    6  7

my_list[3]

7

In [34]:
my_list[3]=10
my_list[3]+=3

In [35]:

my_list[3]

13

In [37]:
my_list.remove(3) # here , I am not using positions, but items

In [38]:
my_list

[1, 5, 13, 9, 11, 13]

In [45]:
my_list.append(17)
my_list

[1, 5, 13, 9, 11, 13, 17, 17]

In [46]:
my_list.reverse()

In [47]:
my_list

[17, 17, 13, 11, 9, 13, 5, 1]

In [48]:
my_list.sort()

In [49]:
my_list

[1, 5, 9, 11, 13, 13, 17, 17]

In [50]:
my_list.pop() # Removes al element, but it return the element being removed
# The pop function works with positions ... Default value: LAST ONE

17

In [51]:
my_list

[1, 5, 9, 11, 13, 13, 17]

In [52]:
my_list.remove(13)

In [53]:
my_list.index(13) # Returns the position of the first occurence of that value

4

In [54]:
my_list.index(23)

ValueError: 23 is not in list

In [56]:
my_list.count(5)

1

In [60]:
my_list=[1,2,3,3,3,3,4,3,3,5,6]

def removeAllOccurrences(a_list, value_to_be_removed):
    while a_list.count(value_to_be_removed) > 0:
        a_list.remove(value_to_be_removed)

removeAll(my_list,3)
my_list

[1, 2, 4, 5, 6]

In [65]:
my_empty_list=[]
my_empty_list.append("A")
my_empty_list.append("B")
my_empty_list.insert(0,"C")
my_empty_list.insert(2,"D")
my_empty_list

['C', 'A', 'D', 'B']

In [67]:
# Dictionaries
my_list=[ "Ivan", 43, "ivan.osuna.ayuste@gmail.com" ]
my_dict={ "name": "Ivan", "age": 43, "email": "ivan.osuna.ayuste@gmail.com" }


my_list[1]


my_dict["email"]

'ivan.osuna.ayuste@gmail.com'

In [68]:
len(my_dict)

3

In [69]:
my_dict["email"]="ivan.osuna@gmail.com"
my_dict["email"]

'ivan.osuna@gmail.com'

In [70]:
my_dict["country"]="Spain"
my_dict["country"]

'Spain'

In [71]:
# Dictionaries cannot have a key twice.. keys cannot be repeated.

for key in my_dict:
    print(key)
    print(my_dict[key])

name
Ivan
age
43
email
ivan.osuna@gmail.com
country
Spain

In [72]:
my_dict.items()

dict_items([('name', 'Ivan'), ('age', 43), ('email', 'ivan.osuna@gmail.com'), ('country', 'Spain')])

In [73]:
for each_tuple in my_dict.items():
    print(each_tuple)

('name', 'Ivan')
('age', 43)
('email', 'ivan.osuna@gmail.com')
('country', 'Spain')

In [75]:
for key, value in my_dict.items():
    print(key)
    print(value)

name
Ivan
age
43
email
ivan.osuna@gmail.com
country
Spain